{% extends "admin/base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/css/admin/projects.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
{% endblock %}
{% block content %}
<table class="projects-table">
  <thead>
    <tr>
      <th>Project Title</th>
      <th>Instructions</th>
      <th>Service Name</th>
      <th>Category Name</th>
      <th>Deadline</th>
      <th>Pages</th>
      <th>Work Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project['project_title'] }}</td>
      <td>{{ project['instructions'] }}</td>
      <!-- <td>{{ status_messages[project['status']] }}</td> -->
      <td>{{ project['service_name'] }}</td>
      <td>{{ project['category_name'] }}</td>
      <td>{{ project['deadline'] }}</td>
      <td>{{ project['pages'] }}</td>
      <td>
        {% if project['work_status'] == 0 %}
        Active
        {% else %}
        Completed
        {% endif %}
      </td>
      <td>
        <!-- {% if project['status'] == 1 %}
        <a href="/admin/api/projects/{{ project['ID'] }}/approve"><i class="fa-sharp fa-solid fa-thumbs-up"></i></a>
        <a href="/admin/api/projects/{{ project['ID'] }}/reject"><i class="fa-sharp fa-solid fa-thumbs-down"></i></a>
        {% elif project['status'] == 2 %}
        <a href="/admin/projects/{{ project['ID'] }}/sendfiles"><i class="fa-solid fa-cloud-arrow-up"></i></a>
        {% endif %} -->
        {% if project['work_status'] == 0 %}
        <button data-href="/admin/api/projects/{{ project['ID'] }}/complete">Mark As Completed</button>
        {% else %}
        <button data-href="/admin/api/projects/{{ project['ID'] }}/active">Mark As Active</button>
        {% endif %}
        <button data-href="/admin/api/projects/{{ project['ID'] }}/references/download">Download References</button>
        <button data-href="/admin/projects/{{ project['ID'] }}/sendfiles">Send Project Files</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% block footer %}
    <script>
      window.addEventListener('load', () => {
        const allButtons = document.querySelectorAll('button');

        allButtons.forEach((btn, index) => {
          btn.addEventListener('click', () => {
            const href = btn.getAttribute('data-href');
            window.location = href;
            console.log(btn)
          });
        });
      });
    </script>
  {% endblock %}
</table>
{% endblock %}