td, th {
  border: 1px solid #d4d4d4;
  padding: .7em 2em;
}
table {
  border-collapse: collapse;
  margin: 4em auto;
}
table thead {
  background: var(--primary-color);
  color: #fff;
  display: block;
}
table tbody {
  display: block;
  max-height: calc(100vh - 16em);
  overflow-y: scroll;
}
table thead, table tbody tr {
  display: table;
  width: 1200px;
  table-layout: fixed;
}
table tbody tr {
  text-align: center;
}
table tbody tr button {
  padding: 5px;
  color: #fff;
  border-radius: 5px;
  margin: 0 1px;
  outline: none;
  border: 1px solid #d4d4d4;
  cursor: pointer;
  font-size: 10px;
}
table tbody tr button:nth-child(1) {
  background-color: green;
}
table tbody tr button:nth-child(2) {
  background-color: red;
}
table tbody tr button:nth-child(3) {
  background-color: blue;
}
table tbody tr button:not(:last-child) {
  margin-bottom: .5em;
}